@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  width: 100%;
  /*padding: 2rem;*/
  text-align: center;
}
/**/
div.custom-override-container .custom-docx-wrapper {
  /* Your overrides here */
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
}
